<section class="menu1" id="menu-b">
  <nav class="navbar navbar-dropdown bg-color transparent navbar-fixed-top">
    <div class="container-fluid">
      <div class="wn-table">
        <div class="wn-table-cell">
          <div class="navbar-brand">
            <a href="#top" class="fa fa-refresh wn-iconfont wn-iconfont-menu navbar-logo" style="color: rgb(255, 255, 255);"></a>
            <a class="navbar-caption text-white" href="/index.html">COLORFUL</a>
          </div>
        </div>
        <div class="wn-table-cell">
          <button class="navbar-toggler pull-xs-right hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <span class="hamburger-icon"></span>
          </button>
          <ul class="nav-dropdown collapse pull-xs-right nav navbar-nav navbar-toggleable-sm" id="exCollapsingNavbar">
            <li class="nav-item"><a class="nav-link link" href="index.html">HOME</a></li>
            <li class="nav-item"><a class="nav-link link" href="index.html#features1-e">FEATURES</a></li>
            <li class="nav-item"><a class="nav-link link" href="index.html#pricing-table1-g">PRICING</a></li>
            <li class="nav-item"><a class="nav-link link" href="index.html#form2-k" aria-expanded="false">CONTACT</a></li>
            <li class="nav-item nav-btn"><a class="nav-link btn btn-white btn-white-outline" href="https://www.webnots.com/product/colorful-bootstrap-template/"
                target="_blank">DOWNLOAD</a></li>
          </ul>
          <button hidden="" class="navbar-toggler navbar-close" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar">
            <span class="close-icon"></span>
          </button>
        </div>
      </div>
    </div>
  </nav>
</section>
<section class="wn-section wn-section-hero wn-section-full header4 wn-section-with-arrow wn-after-navbar" id="header4-d"
  style="background-color: rgb(44, 62, 80);">



  <div class="wn-table-cell wn-table-cell-vertical-bottom content-size">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-xs-center">


          <p class="wn-section-subtitle lead">free download</p>

          <h1 class="wn-section-title display-1">Colorful Bootstrap 4 Template</h1>

          <div class="wn-section-btn"><a class="btn btn-lg btn-success" href="https://www.webnots.com/product/colorful-bootstrap-template/"
              target="_blank">DOWNLOAD NOW</a></div>

          <div class="wn-figure image-size" style="width: 90%; font-size: 225px;"><img src="./images/header4.png"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="wn-arrow wn-arrow-floating" aria-hidden="true">
    <a href="#features1-e">
      <img alt="" src="./images/arrowdown.png">
    </a>
  </div>

</section>

<section class="wn-section wn-section-hero features1 features4 wn-parallax-background" id="features1-e" style="background-image: url(./images/wn-1-2000x1333.jpg); padding-top: 80px; padding-bottom: 40px;">

  <div class="wn-overlay" style="opacity: 0.7; background-color: rgb(39, 174, 96);"></div>

  <div class="wn-table-cell">

    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-lg-8 col-lg-offset-2 text-xs-center">

          <h1 class="wn-section-title display-1">Featured Section</h1>

        </div>
      </div>

      <div class="wn-cards-row row">
        <div class="wn-cards-col col-xs-12 col-lg-4">
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox"><img src="./images/01.jpg" class="features-img"></div>
              <div class="card-block text-xs-center">
                <h5 class="wn-section-subtitle lead">like us on facebook&nbsp;</h5>
                <p class="wn-section-text lead">We have thousands of followers on Facebook to get updates. We also
                  offer special coupons for our followers.</p>


                <div class="wn-section-btn text-xs-center"><a href="#" class="btn btn-secondary">Facebbok Link</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="wn-cards-col col-xs-12 col-lg-4">
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox"><img src="./images/02.jpg" class="features-img"></div>
              <div class="card-block text-xs-center">
                <h5 class="wn-section-subtitle lead">follow us on twitter</h5>
                <p class="wn-section-text lead">We have thousands of followers on Twitter to get updates. We also offer
                  special coupons for our followers.</p>


                <div class="wn-section-btn text-xs-center"><a href="#" class="btn btn-danger">Twitter Link</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="wn-cards-col col-xs-12 col-lg-4">
          <div class="container">
            <div class="card cart-block">
              <div class="card-img iconbox"><img src="./images/03.jpg" class="features-img"></div>
              <div class="card-block text-xs-center">
                <h5 class="wn-section-subtitle lead">get updates on Google+</h5>
                <p class="wn-section-text lead">We have thousands of followers on Google+ to get updates. We also offer
                  special coupons for our followers.</p>


                <div class="wn-section-btn text-xs-center"><a href="#" class="btn btn-warning">Google+ Link</a></div>
              </div>
            </div>
          </div>
        </div>



      </div>

    </div>
  </div>

</section>

<section class="wn-section progressbar progressbar2 wn-parallax-background" id="progress-bar2-f" style="background-image: url(./images/026.jpg); padding-top: 80px; padding-bottom: 80px;">

  <div class="wn-overlay" style="opacity: 0.3; background-color: rgb(211, 84, 0);">
  </div>


  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">

        <h3 class="wn-section-title display-4">Showcase Your Skills</h3>
        <p class="wn-section-text lead">This is a progress bars to showcase your various skills. Each skill can have
          different percentage to show the pointer accodingly on the slider.</p>

        <div class="progress1">

          <p class="wn-section-subtitle display-3">WordPress</p>

          <div class="progressbar-wrap">

            <progress class="progress progress-secondary progress-striped" max="100" value="25">
            </progress>
            <div class="progressbar-number" style="left: 25%;">25</div>

          </div>

        </div>

        <div class="progress2">

          <p class="wn-section-subtitle display-3">Weebly</p>

          <div class="progressbar-wrap">

            <progress class="progress progress-info progress-striped" max="100" value="45">
            </progress>
            <div class="progressbar-number" style="left: 45%;">45</div>
          </div>
        </div>
        <div class="progress3">
          <p class="wn-section-subtitle display-3">Bootstrap</p>
          <div class="progressbar-wrap">
            <progress class="progress progress-danger progress-striped" max="100" value="65">
            </progress>
            <div class="progressbar-number" style="left: 65%;">65</div>
          </div>
        </div>
        <div class="progress4">
          <p class="wn-section-subtitle display-3">Squarespace</p>
          <div class="progressbar-wrap">
            <progress class="progress progress-warning progress-striped" max="100" value="85">
            </progress>
            <div class="progressbar-number" style="left: 85%;">85</div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<section class="wn-section counters1 counters wn-parallax-background" id="counters1-4" style="background-image: url(./images/wn-2000x1333.jpg); padding-top: 120px; padding-bottom: 120px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <h2 class="wn-section-title display-4">Our Profile</h2>
        <p class="wn-section-text lead">Enter the projects and portfolio you have completed here in this section.</p>
        <div class="col-xl-3 col-md-6 col-xs-12">

          <div class="col-lg-7 col-xs-12 text-xs-center text-lg-right table-cell-xl table-cell-bottom">
            <h3 class="wn-section-subtitle display-3">Articles</h3>
          </div>

          <div class="col-lg-5 col-xs-12 text-xs-center text-lg-left table-cell-xl">
            <div class="count wn-section-text">50</div>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-xs-12">

          <div class="col-lg-7 col-xs-12 text-xs-center text-lg-right table-cell-xl table-cell-bottom">
            <h3 class="wn-section-subtitle display-3">Images</h3>
          </div>

          <div class="col-lg-5 col-xs-12 text-xs-center text-lg-left table-cell-xl">
            <div class="count wn-section-text">100</div>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-xs-12">

          <div class="col-lg-7 col-xs-12 text-xs-center text-lg-right table-cell-xl table-cell-bottom">
            <h3 class="wn-section-subtitle display-3">webSites</h3>
          </div>

          <div class="col-lg-5 col-xs-12 text-xs-center text-lg-left table-cell-xl">
            <div class="count wn-section-text">20</div>
          </div>

        </div>

        <div class="col-xl-3 col-md-6 col-xs-12">

          <div class="col-lg-7 col-xs-12 text-xs-center text-lg-right table-cell-xl table-cell-bottom">
            <h3 class="wn-section-subtitle display-3">Projects</h3>
          </div>

          <div class="col-lg-5 col-xs-12 text-xs-center text-lg-left table-cell-xl">
            <div class="count wn-section-text">10</div>
          </div>

        </div>
      </div>
    </div>
  </div>
</section>

<section class="wn-section wn-price-table wn-parallax-background" id="pricing-table1-g" style="background-image: url(./images/wn-2000x1307.jpg); padding-top: 80px; padding-bottom: 80px;">

  <div class="wn-overlay" style="opacity: 0.6; background-color: rgb(51, 51, 51);">
  </div>

  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-xs-center">
        <h1 class="wn-section-title main-title">Choose Pricing Plan</h1>
        <h5 class="wn-section-subtitle" style="color:#fff;">We have plan for all category of customers, choose your
          plan. Contact us to get special discount.</h5>
      </div>
    </div>
  </div>

  <div class="wn-section wn-section-nopadding">
    <div class="row">
      <div class="col-xs-12  col-md-6 col-xl-3">
        <div class="wn-plan card text-xs-center">
          <div class="wn-plan-header card-block">

            <div class="card-title">
              <h3 class="wn-plan-title">BASIC PLAN</h3>
            </div>
            <div class="card-text">
              <div class="wn-price">
                <span class="wn-price-value">$</span>
                <span class="wn-price-figure">10</span><small class="wn-price-term">/month</small>
              </div>
            </div>
          </div>
          <div class="wn-plan-body card-block">
            <div class="wn-plan-list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>1</strong> Email</li>
                <li class="list-group-item"><strong>1TB</strong> Bandwidth</li>
                <li class="list-group-item"><strong>9/5</strong> Support</li>
              </ul>
            </div>
            <div class="wn-plan-btn"><a href="#" class="btn btn-info-outline btn-info">BUY NOW</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-6 col-xl-3">
        <div class="wn-plan card text-xs-center">
          <div class="wn-plan-header card-block popular">
            <div class="wn-plan-label bg-info">FEATURED</div>
            <div class="card-title">
              <h3 class="wn-plan-title">SILVER PLAN</h3>
            </div>
            <div class="card-text">
              <div class="wn-price">
                <span class="wn-price-value">$</span>
                <span class="wn-price-figure">20</span><small class="wn-price-term">/month</small>
              </div>
            </div>
          </div>
          <div class="wn-plan-body card-block">
            <div class="wn-plan-list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>5</strong> Emails</li>
                <li class="list-group-item"><strong>2TB</strong> Bandwidth</li>
                <li class="list-group-item"><strong>12/7</strong> Support</li>
              </ul>
            </div>
            <div class="wn-plan-btn"><a href="#" class="btn btn-black-outline btn-black">BUY NOW</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-6 col-xl-3">
        <div class="wn-plan card text-xs-center">
          <div class="wn-plan-header card-block">

            <div class="card-title">
              <h3 class="wn-plan-title">GOLD PLAN</h3>
            </div>
            <div class="card-text">
              <div class="wn-price">
                <span class="wn-price-value">$</span>
                <span class="wn-price-figure">30</span><small class="wn-price-term">/month</small>
              </div>
            </div>
          </div>
          <div class="wn-plan-body card-block">
            <div class="wn-plan-list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>10</strong> Emails</li>
                <li class="list-group-item"><strong>3TB</strong> Bandwidth</li>
                <li class="list-group-item"><strong>24/7</strong> Support</li>
              </ul>
            </div>
            <div class="wn-plan-btn"><a href="#" class="btn btn-danger-outline btn-danger">BUY NOW</a></div>
          </div>
        </div>
      </div>
      <div class="col-xs-12  col-md-6 col-xl-3">
        <div class="wn-plan card text-xs-center">
          <div class="wn-plan-header card-block">

            <div class="card-title">
              <h3 class="wn-plan-title">PLATINUM PLAN</h3>
            </div>
            <div class="card-text">
              <div class="wn-price">
                <span class="wn-price-value">$</span>
                <span class="wn-price-figure">40</span><small class="wn-price-term">/month</small>
              </div>
            </div>
          </div>
          <div class="wn-plan-body card-block">
            <div class="wn-plan-list">
              <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Unlimited</strong> Emails</li>
                <li class="list-group-item"><strong>Unlimited</strong> Bandwidth</li>
                <li class="list-group-item"><strong>24/7</strong> Support</li>
              </ul>
            </div>
            <div class="wn-plan-btn"><a href="#" class="btn btn-success-outline btn-success">BUY NOW</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>

</section>

<div id="testimonials3-h" custom-code="true">
  <section class="wn-section testimonials3 wn-parallax-background" style="background-image: url(./images/grass.jpg);">

    <div class="wn-overlay" style="opacity: 0.8; background-color: rgb(35, 63, 91);"></div>

    <div class="container">

      <section class="wn-section content3 wn-section__container" style="background-color: rgb(255, 255, 255); padding-top: 20px; padding-bottom: 20px;">
        <div class="container">
          <div class="row">
            <div class="col-xs-12">
              <h3 class="wn-section-title display-4 wn-editable-content">See What Our Customer Says</h3>
            </div>
          </div>
        </div>
      </section>
      <div class="row card card-testimonial">
        <div class="col-xs-12 col-md-6 padding-left-0 padding-right-0 mediaEl">
          <div class="wn-figure" style="background-image: url(./images/wn-2-2000x1333.jpg);"></div>
        </div>
        <div class="col-xs-12 col-md-6 text-xs-left content">
          <p class="wn-section-text lead wn-editable-content">"It was a very nice experience working with Colorful
            theme. It is easy to edit and i made my site in minutes. You can download it for free and start building
            your own site."</p>
          <h5 class="wn-section-title lead title wn-editable-content">Useful User and Owner</h5>
          <h6 class="subtitle wn-editable-content">Site Owner Running An Awesome Site with Colorful Theme</h6>
        </div>
      </div>
    </div>
  </section>
</div>
<section class="wn-section form1 wn-parallax-background" id="form2-k" style="background-image: url(./images/04.jpg); padding-top: 80px; padding-bottom: 80px;">
  <div class="wn-overlay" style="opacity: 0.7; background-color: rgb(51, 51, 51);">
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-xs-center">
        <div class="col-xs-12 col-lg-6">
          <p class="wn-section-subtitle lead">Hire us, leave your worries to us and take a rest. Build your next
            project with us!!!</p>
          <h1 class="wn-section-title display-4">CONTACT FORM</h1>
          <p class="wn-section-text lead">We help in building all types of web development projects like websites,
            blogs and apps. We are experts in WordPress, Bootstrap, Weebly and Squarespace. Explain about your project
            and we will get in touch with you in 2 business days.</p>
        </div>
        <div class="col-xs-12 col-lg-6" data-form-type="">
          <form action="#" method="post">
            <div class="row row-sm-offset">
              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label class="form-control-label" for="form2-k-name">Name<span class="form-asterisk">*</span></label>
                  <div class="form-icon"><img src="./images/icon-name.png"></div>
                  <input type="text" class="form-control" name="name" required="" data-form-field="Name" placeholder="Name*"
                    id="form2-k-name">
                </div>
              </div>

              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label class="form-control-label" for="form2-k-email">Email<span class="form-asterisk">*</span></label>
                  <div class="form-icon"><img src="./images/icon-email.png"></div>
                  <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Email*"
                    id="form2-k-email">
                </div>
              </div>

              <div class="col-xs-12 col-md-4">
                <div class="form-group">
                  <label class="form-control-label" for="form2-k-phone">Phone</label>
                  <div class="form-icon"><img src="./images/icon-phone.png"></div>
                  <input type="tel" class="form-control" name="phone" data-form-field="Phone" placeholder="Phone" id="form2-k-phone">
                </div>
              </div>

            </div>

            <div class="form-group">
              <label class="form-control-label" for="form2-k-message">Message</label>
              <textarea class="form-control" name="message" rows="7" data-form-field="Message" placeholder="Message" id="form2-k-message"></textarea>
            </div>

            <div class="text-lg-left text-xs-center"><button type="submit" class="btn btn-success">CONTACT US</button></div>

          </form>
        </div>

      </div>
    </div>
  </div>

</section>

<section class="wn-section wn-section-nopadding" id="map1-i">
  <div class="wn-map"><iframe frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyA0Dx_boXQiwvdz8sJHoYeZNVTdoWONYkU&amp;q=place_id:ChIJR4OvRZxZwokRuBH1En4G3Wk"
      allowfullscreen=""></iframe></div>
</section>

<div id="footer5-n" custom-code="true">
  <footer class="wn-small-footer wn-section wn-section-nopadding footer1 footer5 wn-parallax-background" style="background-image: url(./images/wn-2000x1609.jpg); padding-top: 6rem; padding-bottom: 4rem;">
    <div class="wn-overlay" style="opacity: 0.6; background-color: rgb(230, 126, 34);"></div>
    <div class="container-fluid">
      <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 text-xs-center">
          <h2 class="wn-section-title display-4 wn-editable-content">Subscribe And Get The Latest News</h2>



          <form action="#" method="post">



            <div class="form-inner">



              <div class="col-xs-12 wn-table-cell padding-right-0 padding-left-0">
                <div class="form-group">
                  <label class="form-control-label">Email</label>
                  <div class="form-icon"></div>
                  <input type="email" class="form-control" name="email" required="" data-form-field="Email" placeholder="Email">
                </div>
              </div>



              <div class="text-xs-left wn-table-cell table-cell-top"><button type="submit" class="btn btn-primary wn-editable-button"><span
                    class="fa fa-location-arrow wn-iconfont wn-iconfont-btn"></span></button></div>

            </div>
          </form>
        </div>
        <div class="col-xs-12 col-lg-10 col-lg-offset-1">
          <div class="col-xs-12 footer-list">
            <div class="col-xs-12 col-sm-6 col-lg-3 text-xs-center text-lg-left">
              <p class="wn-section-subtitle display-3 wn-editable-content">product</p>
              <p class="wn-section-text lead wn-editable-content">Popular</p>
              <p class="wn-section-text lead wn-editable-content">Trending</p>
              <p class="wn-section-text lead wn-editable-content">Catalog</p>
              <p class="wn-section-text lead wn-editable-content">Awesome</p>
              <p class="wn-section-text lead wn-editable-content">Best</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 text-xs-center text-lg-left">
              <p class="wn-section-subtitle display-3 wn-editable-content">company</p>
              <p class="wn-section-text lead wn-editable-content">Press</p>
              <p class="wn-section-text lead wn-editable-content">Features</p>
              <p class="wn-section-text lead wn-editable-content">Mission</p>
              <p class="wn-section-text lead wn-editable-content">Strategy</p>
              <p class="wn-section-text lead wn-editable-content">Works</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 text-xs-center text-lg-left">
              <p class="wn-section-subtitle display-3 wn-editable-content">Learn more</p>
              <p class="wn-section-text lead wn-editable-content">Support</p>
              <p class="wn-section-text lead wn-editable-content">Developers</p>
              <p class="wn-section-text lead wn-editable-content">Service</p>
              <p class="wn-section-text lead wn-editable-content">Starter pack</p>
              <p class="wn-section-text lead wn-editable-content">FAQ</p>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-3 text-xs-center text-lg-left">
              <p class="wn-section-subtitle display-3 wn-editable-content">Social</p>
              <p class="wn-section-text lead wn-editable-content">Twitter</p>
              <p class="wn-section-text lead wn-editable-content">Facebook</p>
              <p class="wn-section-text lead wn-editable-content">Google+</p>
              <p class="wn-section-text lead wn-editable-content">LinkedIn</p>
              <p class="wn-section-text lead wn-editable-content">YouTube</p>
            </div>
          </div>
        </div>
      </div>

    </div>
    <div class="container margin-top-40">
      <p class="text-xs-center wn-section-text lead wn-editable-content">Copyright &copy; 2017 <a href="https://www.webnots.com">WebNots
          Web Consulting Services</a>.</p>
    </div>
  </footer>
</div>
<script src="./js/jquery.min.js"></script>
<script src="./js/tether.min.js"></script>
<script src="./js/bootstrap.min.js"></script>
<script src="./js/SmoothScroll.js"></script>
<script src="./js/jquery.viewportchecker.js"></script>
<script src="./js/script.min.js"></script>
<script src="./js/jquery.touchSwipe.min.js"></script>
<script src="./js/jarallax.js"></script>
<script src="./js/script.js"></script>
<input name="animation" type="hidden">
<div id="scrollToTop" class="scrollToTop wn-arrow-up"><a style="text-align: center;"><span class="wn-arrow-up-icon fa fa-arrow-up"></span></a></div>





<script src="https://code.jquery.com/jquery.js"></script>
<script src="https://cdn.jsdelivr.net/momentjs/2.12.0/moment.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment-timezone/0.5.21/moment-timezone-with-data-2012-2022.min.js"></script>