<div class="container-fluid wn-section wn-section-hero wn-section-full header4 wn-section-with-arrow wn-after-navbar" id="header4-d"
  style="background-color: rgb(44, 62, 80);"">
            <div class="row">
                <div class="col-xs-12 col-lg-10 col-lg-offset-1 text-xs-center">
                    Hello Word
                </div>
            </div>
        </div>

    </div>
</section>